# OpenTofu / Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.terraform.tfstate.lock.info
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc
*.tfplan

# Ansible
*.retry
ansible.log
.ansible/
vault-password.txt

# OS / Editors
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

# secrets
secrets/
temp/

# Nix Build Artifacts
result
result-*
